@import "custom";
// Global properties, for all components
// INFO: Component specific stylesheets should have the same name as the components JS file

// Variables
$font-family: "Open Sans", sans-serif;
$theme-orange: #ff9200;
$theme-light-gray: #e9ecef;

body {
    font-family: $font-family;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

// width utility extension
.min-w-0 {
    min-width: 0;
}

// scrollbar
/* remove comment for overlapping scrollbar */
main {
    // overflow-y: overlay;
    overflow-y: auto;
}

main::-webkit-scrollbar {
    width: 0.4rem;
    background: $theme-light-gray;
}

main::-webkit-scrollbar-thumb {
    background: $theme-orange;
}

// pointer on hover
.clickable {
    cursor: pointer;
}

// Leaflet
.leaflet-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.leaflet-popup-content {
    font-family: $font-family;
}
